<div class="container title">
  <div class="row">
    <h1 class="page-header text-center">
      News <br>
      <small>News and information</small>
    </h1>
  </div>
</div>

  <!-- Features Section -->
  <% @news.each do |news| %>
  <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header"><%= news.title %></h2>
    </div>
    </div>
    <div class="row">
      
    <div class="col-sm-8">
      <p><strong><%= news.created_at.strftime("%b %d, %Y") %></strong>
        <br>
        <%= truncate(news.body.html_safe, length: 300) %></p>
        <br>
      </div>
       <div class="col-sm-4">
          <img class="img-responsive center-block" src=<%= news.image1.url(:large) %> alt="">
      </div>

    </div>
    <div class="row">
      <div class="col-sm-12"><%= link_to 'Read More...', news %></div>
    </div>

      
    </div>
    <% end %>
    <!-- /.row -->
  </div>