<div class="container title">
  <div class="row">
    <h1 class="page-header text-center">
      Members <br>
      <small>Current roster of Vox Nova</small>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="list-group">
      <% @member1.each do |member| %>
      <a href="#<%= item.id %>" class="list-group-item"><%= member.item %></a>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <% @member2.in_groups_of(3, false).each do |group| %>
  <div class="row row-flex row-flex-wrap">
    <% group.each do |item| %>
    <div class="col-sm-6 col-md-4 bioBox">
      <div class="thumbnail">
        <%= image_tag item.image.url(:large) %>
        <div class="caption">
          <h3 class="page-header" id='<%= item.id %>' ><%= item.name %></h3>
          <p><%= item.bio %></p>
        </div>
      </div>
    </div>  
    <% end %>
  </div>
  <% end %>
</div>
